In [ ]:
!pip install pyspark

In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('cars.csv')

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [3]:
from pyspark.sql import SparkSession

In [4]:
ss = SparkSession.builder.appName("Demo").getOrCreate()

In [5]:
ss

In [6]:
cars_df = ss.read.csv('cars.csv')

In [7]:
cars_df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

In [8]:
cars_df.show()

+--------------------+---+---------+------------+----------+------+------------+-----+------+
|                 _c0|_c1|      _c2|         _c3|       _c4|   _c5|         _c6|  _c7|   _c8|
+--------------------+---+---------+------------+----------+------+------------+-----+------+
|                 Car|MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
|Chevrolet Chevell...| 18|        8|         307|       130|  3504|          12|   70|    US|
|   Buick Skylark 320| 15|        8|         350|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite| 18|        8|         318|       150|  3436|          11|   70|    US|
|       AMC Rebel SST| 16|        8|         304|       150|  3433|          12|   70|    US|
|         Ford Torino| 17|        8|         302|       140|  3449|        10.5|   70|    US|
|    Ford Galaxie 500| 15|        8|         429|       198|  4341|          10|   70|    US|
|    Chevrolet Impala| 14|        8|         454|       220|  4354|           9|   70|    US|
|   Plymouth Fury iii| 14|        8|         440|       215|  4312|         8.5|   70|    US|
|    Pontiac Catalina| 14|        8|         455|       225|  4425|          10|   70|    US|
|  AMC Ambassador DPL| 15|        8|         390|       190|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas|  0|        4|         133|       115|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...|  0|        8|         350|       165|  4142|        11.5|   70|    US|
|    Ford Torino (sw)|  0|        8|         351|       153|  4034|          11|   70|    US|
|Plymouth Satellit...|  0|        8|         383|       175|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)|  0|        8|         360|       175|  3850|          11|   70|    US|
| Dodge Challenger SE| 15|        8|         383|       170|  3563|          10|   70|    US|
|  Plymouth 'Cuda 340| 14|        8|         340|       160|  3609|           8|   70|    US|
|Ford Mustang Boss...|  0|        8|         302|       140|  3353|           8|   70|    US|
|Chevrolet Monte C...| 15|        8|         400|       150|  3761|         9.5|   70|    US|
+--------------------+---+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [9]:
cars_df = ss.read.option('header','true').csv('cars.csv')

In [10]:
cars_df.show()

+--------------------+---+---------+------------+----------+------+------------+-----+------+
|                 Car|MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+---+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...| 18|        8|         307|       130|  3504|          12|   70|    US|
|   Buick Skylark 320| 15|        8|         350|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite| 18|        8|         318|       150|  3436|          11|   70|    US|
|       AMC Rebel SST| 16|        8|         304|       150|  3433|          12|   70|    US|
|         Ford Torino| 17|        8|         302|       140|  3449|        10.5|   70|    US|
|    Ford Galaxie 500| 15|        8|         429|       198|  4341|          10|   70|    US|
|    Chevrolet Impala| 14|        8|         454|       220|  4354|           9|   70|    US|
|   Plymouth Fury iii| 14|        8|         440|       215|  4312|         8.5|   70|    US|
|    Pontiac Catalina| 14|        8|         455|       225|  4425|          10|   70|    US|
|  AMC Ambassador DPL| 15|        8|         390|       190|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas|  0|        4|         133|       115|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...|  0|        8|         350|       165|  4142|        11.5|   70|    US|
|    Ford Torino (sw)|  0|        8|         351|       153|  4034|          11|   70|    US|
|Plymouth Satellit...|  0|        8|         383|       175|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)|  0|        8|         360|       175|  3850|          11|   70|    US|
| Dodge Challenger SE| 15|        8|         383|       170|  3563|          10|   70|    US|
|  Plymouth 'Cuda 340| 14|        8|         340|       160|  3609|           8|   70|    US|
|Ford Mustang Boss...|  0|        8|         302|       140|  3353|           8|   70|    US|
|Chevrolet Monte C...| 15|        8|         400|       150|  3761|         9.5|   70|    US|
|Buick Estate Wago...| 14|        8|         455|       225|  3086|          10|   70|    US|
+--------------------+---+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [11]:
type(cars_df)

pyspark.sql.dataframe.DataFrame

In [12]:
cars_df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [13]:
cars_df = ss.read.option('header','true').csv('cars.csv', inferSchema=True)
#cars_df = ss.read.csv('cars.csv', header=True, inferSchema=True)

In [14]:
cars_df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [15]:
cars_df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|       150|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [16]:
cars_df.describe().show()

+-------+--------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------+
|summary|                 Car|               MPG|        Cylinders|      Displacement|       Horsepower|            Weight|      Acceleration|             Model|Origin|
+-------+--------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------+
|  count|                 406|               406|              406|               406|              406|               406|               406|               406|   406|
|   mean|                null|23.051231527093602|5.475369458128079| 194.7795566502463|103.5295566502463|2979.4137931034484|15.519704433497521| 75.92118226600985|  null|
| stddev|                null|   8.4017773522706|1.712159631548529|104.92245837948867|40.52065912106347| 847.0043282393513|2.8033588163425462|3.7487373454558743|  null|
|    min|AMC Ambassador Br...|               0.0|                3|              68.0|                0|              1613|               8.0|                70|Europe|
|    max|        Volvo Diesel|              46.6|                8|             455.0|              230|              5140|              24.8|                82|    US|
+-------+--------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------+

In [17]:
#DataFrame API Examples
#select()
#drop()
#filter()
#where()
#withColumnRenamed()
#withColumn() (Renaming and adding columns)
#orderBy()
#sort()
#And many more : https://spark.apache.org/docs/latest/api/python/pyspark.sql.html

In [18]:
#Choose five rows including Car, Model and Origin from the cars_df data frame.
#select(<column_names> or list of dataframe[<column_name>])
cars_df.select("Car", "Model", "Origin").show(5)

+--------------------+-----+------+
|                 Car|Model|Origin|
+--------------------+-----+------+
|Chevrolet Chevell...|   70|    US|
|   Buick Skylark 320|   70|    US|
|  Plymouth Satellite|   70|    US|
|       AMC Rebel SST|   70|    US|
|         Ford Torino|   70|    US|
+--------------------+-----+------+
only showing top 5 rows

In [19]:
#Select all except the given columns.
#.drop(<column_names>)
cars_df.drop("Cylinders","Displacement","Horsepower").show(5)

+--------------------+----+------+------------+-----+------+
|                 Car| MPG|Weight|Acceleration|Model|Origin|
+--------------------+----+------+------------+-----+------+
|Chevrolet Chevell...|18.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|  3449|        10.5|   70|    US|
+--------------------+----+------+------------+-----+------+
only showing top 5 rows

In [20]:
#.filter("<constraints>")
#.where("<constraints>")
cars_df.filter("Origin == 'Europe'").show(3)
cars_df.where("Origin == 'Europe'").show(3)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|Volkswagen 1131 D...|26.0|        4|        97.0|        46|  1835|        20.5|   70|Europe|
|         Peugeot 504|25.0|        4|       110.0|        87|  2672|        17.5|   70|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|Volkswagen 1131 D...|26.0|        4|        97.0|        46|  1835|        20.5|   70|Europe|
|         Peugeot 504|25.0|        4|       110.0|        87|  2672|        17.5|   70|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

In [21]:
cars_df.filter("Origin == 'Europe' and Weight >= 3000").show(3)
cars_df.where("Origin == 'Europe' and Weight >= 3000").show(3)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|           Volvo 245|20.0|        4|       130.0|       102|  3150|        15.7|   76|Europe|
|         Peugeot 504|19.0|        4|       120.0|        88|  3270|        21.9|   76|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|           Volvo 245|20.0|        4|       130.0|       102|  3150|        15.7|   76|Europe|
|         Peugeot 504|19.0|        4|       120.0|        88|  3270|        21.9|   76|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

In [22]:
cars_df.filter((cars_df["Origin"] == 'Europe') |
               (cars_df["Origin"] == 'Japan') &
               (cars_df["MPG"] >= 20)).show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|Toyota Corolla Ma...|24.0|        4|       113.0|        95|  2372|        15.0|   70| Japan|
|        Datsun PL510|27.0|        4|        97.0|        88|  2130|        14.5|   70| Japan|
|Volkswagen 1131 D...|26.0|        4|        97.0|        46|  1835|        20.5|   70|Europe|
|         Peugeot 504|25.0|        4|       110.0|        87|  2672|        17.5|   70|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [23]:
#.withColumnRenamed(existing_col_name, new_col_name) -> Rename columns
#Change column name to Car_name from car
cars_df.withColumnRenamed("Car", "Car_name").show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|            Car_name| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|       150|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [24]:
#.withColumn(columnName, columnExpression) -> Add columns.
cars_df.withColumn('Over_weight', cars_df['Weight']-3500).show(5)
cars_df.withColumn('Over_weight', (cars_df['Weight']-3500 > 0) == True).show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Over_weight|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|          4|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|        193|
|  Plymouth Satellite|18.0|        8|       318.0|       150|  3436|        11.0|   70|    US|        -64|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|        -67|
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|        -51|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
only showing top 5 rows

+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Over_weight|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|       true|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|       true|
|  Plymouth Satellite|18.0|        8|       318.0|       150|  3436|        11.0|   70|    US|      false|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|      false|
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|      false|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-----------+
only showing top 5 rows

In [25]:
#.orderBy(columns, ascending = True)
#.sort(columns, ascending = True)
cars_df.orderBy("Car").show(3)
cars_df.sort("Car").show(3)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

In [26]:
cars_df.orderBy("Car", ascending = False).show(3)
cars_df.sort("Car", ascending = False).show(3)

+------------+----+---------+------------+----------+------+------------+-----+------+
|         Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+------------+----+---------+------------+----------+------+------------+-----+------+
|Volvo Diesel|30.7|        6|       145.0|        76|  3160|        19.6|   81|Europe|
| Volvo 264gl|17.0|        6|       163.0|       125|  3140|        13.6|   78|Europe|
|   Volvo 245|20.0|        4|       130.0|       102|  3150|        15.7|   76|Europe|
+------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

+------------+----+---------+------------+----------+------+------------+-----+------+
|         Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+------------+----+---------+------------+----------+------+------------+-----+------+
|Volvo Diesel|30.7|        6|       145.0|        76|  3160|        19.6|   81|Europe|
| Volvo 264gl|17.0|        6|       163.0|       125|  3140|        13.6|   78|Europe|
|   Volvo 245|20.0|        4|       130.0|       102|  3150|        15.7|   76|Europe|
+------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

In [27]:
#Math – abs, log, avg, count, etc.
#String – length, concat, trim, contains ,etc.
#Time – year, date_add, datediff, next_day ,etc.
#Can be used in combination with groupBy()

In [28]:
cars_df.groupBy("Origin").count().orderBy("count").show(5)
cars_df.groupBy("Origin").count().orderBy("count", ascending = False).show(5)

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
| Japan|   79|
|    US|  254|
+------+-----+

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
+------+-----+

In [29]:
#Create a column named "Ford"
cars_df.withColumn('Ford', cars_df['Car'].contains('Ford'))\
       .filter("Ford == True")\
       .show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+----+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Ford|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----+
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|true|
|    Ford Galaxie 500|15.0|        8|       429.0|       198|  4341|        10.0|   70|    US|true|
|    Ford Torino (sw)| 0.0|        8|       351.0|       153|  4034|        11.0|   70|    US|true|
|Ford Mustang Boss...| 0.0|        8|       302.0|       140|  3353|         8.0|   70|    US|true|
|       Ford Maverick|21.0|        6|       200.0|        85|  2587|        16.0|   70|    US|true|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----+
only showing top 5 rows

In [30]:
cars_df.select("Car", "Model","Weight", "Origin")\
       .filter("Weight >= 3000")\
       .orderBy("Model")\
       .show(5)

+--------------------+-----+------+------+
|                 Car|Model|Weight|Origin|
+--------------------+-----+------+------+
|Chevrolet Chevell...|   70|  3504|    US|
|   Buick Skylark 320|   70|  3693|    US|
|  Plymouth Satellite|   70|  3436|    US|
|       AMC Rebel SST|   70|  3433|    US|
|         Ford Torino|   70|  3449|    US|
+--------------------+-----+------+------+
only showing top 5 rows

In [31]:
from pyspark.sql.functions import*

In [32]:
check_Ford = udf(lambda x: ("Ford" in x) or ("ford" in x))
cars_df.select("Car", check_Ford("Car")).show(5)

+--------------------+-------------+
|                 Car|<lambda>(Car)|
+--------------------+-------------+
|Chevrolet Chevell...|        false|
|   Buick Skylark 320|        false|
|  Plymouth Satellite|        false|
|       AMC Rebel SST|        false|
|         Ford Torino|         true|
+--------------------+-------------+
only showing top 5 rows

In [33]:
cars_df.groupBy("Model").min("Weight").orderBy("Model").show(3)

+-----+-----------+
|Model|min(Weight)|
+-----+-----------+
|   70|       1835|
|   71|       1613|
|   72|       2100|
+-----+-----------+
only showing top 3 rows

In [34]:
cars_df.groupBy("Model").max("Weight").orderBy("Model").show(3)

+-----+-----------+
|Model|max(Weight)|
+-----+-----------+
|   70|       4732|
|   71|       5140|
|   72|       4633|
+-----+-----------+
only showing top 3 rows

In [35]:
cars_df.groupBy("Model").avg("Weight").orderBy("Model").show(3)

+-----+------------------+
|Model|       avg(Weight)|
+-----+------------------+
|   70|3441.3142857142857|
|   71| 2960.344827586207|
|   72| 3237.714285714286|
+-----+------------------+
only showing top 3 rows

In [36]:
cars_df.groupBy("Model")\
       .agg(min("Weight"), max("Weight"), avg("Weight"))\
       .orderBy("Model")\
       .show(3)

+-----+-----------+-----------+------------------+
|Model|min(Weight)|max(Weight)|       avg(Weight)|
+-----+-----------+-----------+------------------+
|   70|       1835|       4732|3441.3142857142857|
|   71|       1613|       5140| 2960.344827586207|
|   72|       2100|       4633| 3237.714285714286|
+-----+-----------+-----------+------------------+
only showing top 3 rows

In [37]:
ppl_1 = ss.read.option('header','true').csv('demo1.csv', inferSchema=True)
ppl_2 = ss.read.option('header','true').csv('demo2.csv', inferSchema=True)
ppl_1.show()
ppl_2.show()

+----+---+
|name|age|
+----+---+
|   A| 18|
|   B| 20|
|   C| 40|
+----+---+

+----+------+
|name|height|
+----+------+
|   D|   180|
|   B|   175|
|   E|   177|
|   F|   163|
+----+------+

In [38]:
#join(dataframe, condition, join_type)
#Join types : inner (default), left_outer, right_outer, leftsemi

In [39]:
#inner -> only show same name in both table
ppl_1.join(ppl_2, 'name').show(2)
ppl_1.join(ppl_2, ppl_1.name == ppl_2.name).show()
ppl_1.join(ppl_2, 'name', 'inner').show()

+----+---+------+
|name|age|height|
+----+---+------+
|   B| 20|   175|
+----+---+------+

+----+---+----+------+
|name|age|name|height|
+----+---+----+------+
|   B| 20|   B|   175|
+----+---+----+------+

+----+---+------+
|name|age|height|
+----+---+------+
|   B| 20|   175|
+----+---+------+

In [40]:
#outer -> show everything in both table
ppl_1.join(ppl_2, ppl_1.name == ppl_2.name, 'outer').show()
ppl_1.join(ppl_2, 'name', 'outer').show()

+----+----+----+------+
|name| age|name|height|
+----+----+----+------+
|null|null|   F|   163|
|null|null|   E|   177|
|   B|  20|   B|   175|
|null|null|   D|   180|
|   C|  40|null|  null|
|   A|  18|null|  null|
+----+----+----+------+

+----+----+------+
|name| age|height|
+----+----+------+
|   F|null|   163|
|   E|null|   177|
|   B|  20|   175|
|   D|null|   180|
|   C|  40|  null|
|   A|  18|  null|
+----+----+------+

In [41]:
#left_outer -> show column in both table but name in ppl_1
ppl_1.join(ppl_2, 'name', 'left_outer').show()

+----+---+------+
|name|age|height|
+----+---+------+
|   A| 18|  null|
|   B| 20|   175|
|   C| 40|  null|
+----+---+------+

In [42]:
#right_outer -> show column in both table but name in ppl_2
ppl_1.join(ppl_2, 'name', 'right_outer').show()

+----+----+------+
|name| age|height|
+----+----+------+
|   D|null|   180|
|   B|  20|   175|
|   E|null|   177|
|   F|null|   163|
+----+----+------+

In [43]:
#leftsemi - Get the names within left table that appear in right table.
ppl_1.join(ppl_2, 'name', 'leftsemi').show()

+----+---+
|name|age|
+----+---+
|   B| 20|
+----+---+

In [59]:
#Spark stores the table definition in the table catalog.
#Format : .write.saveAsTable(name, format=None, mode=None, partitionBy=None)
cars_df.write.option("path","/Users/avery/Desktop/car").saveAsTable("car_table")
ppl_1.write.option("path","/Users/avery/Desktop/p1").saveAsTable("p1_table")
ppl_2.write.option("path","/Users/avery/Desktop/p2").saveAsTable("p2_table")

In [ ]:
cars_df.write.saveAsTable("car_table")

In [61]:
ss.sql("select * from parquet.`/Users/avery/Desktop/car`").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|       150|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|       140|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|       198|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|       220|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|       215|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|       225|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|       115|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|       165|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|       153|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|       175|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|       170|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|       160|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|       140|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|       150|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|       225|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows